@use '/app/styles/mixins';

.container{
    width: 100%;
    height: 2.4rem;
    @include mixins.gridDisplay(7,1,0,0);
    place-items: center;

    .single{
        width: 100%;
        height: 100%;
        @include mixins.flexDisplay(center,center,row);
        @include mixins.fontOpts(var(--secondary-font-regular), var(--paragraf-sm), var(--secondary-color));
        background: var(--tertier-color);
        border: solid 1px var(--secondary-color);
    }
}